doctype html
html
  head
    title ATM Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css')
  body
    block body
    script(src='http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js')
    script(src='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
