extend layout
block content
  .row
    .col-lg-3
      h1 #{ username }
      a.btn.btn-default(href='/startAmazeServer')
    .col-lg-9
      .row
        .col-lg-3
          .thumbnail
            a(href='http://218.244.133.160:8001')
              img(src="/img/amaze.png", alt="amaze")
            .caption
              h3 Amaze
              p 一个人走迷宫，鬼捉人的游戏。
